html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  font-family: monospace;
  font-size: 1.25rem;
  margin: 2em;
  min-height: calc(100vh - 4em);
  display: grid;
  grid-template-rows: auto 1fr auto;
}

body > div {
  width: 100%;
  max-width: 80ch;
  margin: auto;
}

pre {
  overflow: scroll; /* Break long words if necessary */
  max-width: 100%; /* Prevent pre tag from exceeding parent's width */
  box-sizing: border-box; /* Include padding/border in width calculation */
}