::selection {
  background-color: gray;
  color: black;
}

::moz-selection {
  background-color: gray;
  color: black;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  font-family: monospace;
  font-size: 1.25rem;
  background-color: black;
  color: gray;
  max-width: 80ch;
  margin: auto;
  padding: 8rem 2rem;
  line-height: 1.8;
}

h1 {
  text-align: center;
  padding-bottom: 4rem;
}

h1, h2, h3 {
  color: darkgray;
  margin: 20px 0 10px 0px;
}

p {
  margin: 2rem 0;
}

a {
  color: lightgray;
  text-decoration: none;
  border-bottom: 1px solid gray;
  transition: color 0.3s, border-color 0.3s;
}

a:hover {
  color: white;
  border-color: white;
}

a:focus {
  outline: none;
  border-color: lightgray;
}

strong {
  color: darkgray;
}

pre {
  border: 1px solid grey;
  padding: 1ch;
}

pre > code {
  max-width: 100%;
  overflow: auto;
  display: inline-grid;
}
